* {
    margin: 0;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
}
body {
    background-color: black;
    color:white;
    font-size: 25px;
}
button {
    background: none;
    color: white;
    border: none;
}
#image1,#image2,#image3,#image5 {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
 #image1 {
    background-image: url("FundoPcGamer.jpg");
    text-align: center;
    color: white;
}
 #image2 {
    background-image: url("Perfil.png");
}

 #image3 {
    background-image: url("FundoSetup.jpg");
}
 #image5 {
    background-image: url("DevGif.gif");
}
#projetos, #galeria,#website,#contato {
        position: absolute;
        font-weight: bold;
        font-size: 25px;
}
 #x {
    position: absolute;
    font-size: 80px;
    top: 0%;
    left: 50%;
    border: solid, white;
    color: red;
    font-weight: bold;
}
#projetos {
    position: absolute;
    top: 4%;
    left: 27%;
    border: solid, white;
}
#galeria {
    position: absolute;
    top: 4%;
    left: 39%;
    border: solid, white;
}
#website {
    position: absolute;
    top: 4%;
    left: 56%;
    border: solid, white;
}
#contato {
    position: absolute;
    top: 4%;
    left: 67%;
    border: solid, white;
}
#titulo {
    position: absolute;
    font-size: 80px;
    top: 40%;
    left: 38%;
    border: solid, white;
}
#conheca {
    position: absolute;
    top: 65%;
    left: 38%;
    border: 5px, solid, white;
    padding: 10px;
}
#instagram {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 80%;
    left: 51%;
}
#steam {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 80%;
    left: 61%;
}
#github {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 80%;
    left: 41%;
}
