* {
    margin: 0;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
}
body {
    background-color: black;
}

 #image1 {
    height: 1080px;
    width: 1920px;
    background-size: cover;
    background-position: center;
    background-image: url("20260411_183649.jpg");
}
 #image2 {
    height: 1080px;
    width: 1920px;
    background-size: cover;
    background-image: url("2026-04-11_19.16.39.png");
}

#image3 {
    height: 1080px;
    width: 1920px;
    background-size: cover;
    background-image: url("20260411_183706.jpg");
}
