* {
    margin: 0;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
}
body {
    background-color: rgb(23,22,21);
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.backgroundTop, .background1 {
    display: flex;
    height: 1080px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.topButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input {
    width: 400px;
    height: 30px;
    background: none;
    border: solid white;
    color: white;
}
.backgroundTop {
    background-color: rgb(38,36,35);
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.background1 {
    background-image: url(FundoEstrelado.png);
    height: 1040px;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
/*
.finalPage {
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 13px;
    color: aqua;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
*/